body{
    background-color: rgb(0, 0, 0);
}

#results-container{
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.red{
    color: rgb(255, 0, 0);
}

.green{
    color: rgb(0, 255, 0);
}

.red, .green{
    font-size: 50px;
    font-weight: bold;
}